.title-bar {
    color: cornflowerblue;
    text-align: center;
    box-shadow: 0px 0px 10px grey;
}

.form-container {
    color: rgb(67, 48, 171);
    text-align: center;
    box-shadow: 0px 0px 10px grey;
    padding: 1rem;
}

.center-form {
    display: grid;
    place-content: center;
}